Febrero/BD_Hectorin_Feb
Febrero/Clases/Taller 2023 IA/iris.csv
Febrero/BD
Marzo/BD
Febrero/X.x
Febrero/y.y
datos.rar
datosOld.rar
ejemplo_excel.xlsx
Marzo/TareasMarzo/datos.csv

Marzo/TareasMarzo/Tarea031124/datos.csv
Marzo/TareasMarzo/Tarea031224/datos.csv
Marzo/TareasMarzo/Tarea031924/Avances/test.csv
Marzo/TareasMarzo/Tarea031924/Avances/test.pkl
Marzo/TareasMarzo/Tarea031924/Avances/testHDF.h5
