Febrero/BD_Hectorin_Feb
Febrero/Clases/Taller 2023 IA/iris.csv
Febrero/BD
Marzo/BD
Febrero/X.x
Febrero/y.y
*.rar
*.h5
*.jpg
*.csv
*.xlsx
*.pkl
*.rar
*.zip
*.txt
*.pdf
*.docx
Marzo/TareasMarzo/FinSemanaExamenFinal/AModificarNoTocar/Examenes/BD/corpus_images/
