Marzo/BD/Sentimientos_Old/X.x
Marzo/BD/Sentimientos_Old/y.y
Febrero/BD/Sentimientos_Old/X.x
Febrero/BD/Sentimientos_Old/y.y
Febrero/BD_Hectorin_Feb/X.x
Febrero/BD_Hectorin_Feb/y.y
Febrero/Clases/Taller 2023 IA/iris.csv
